*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
   font-family: Roboto;
}


.Header,
.Hero,
.Footer{
    background-color: #1F2937;
}


.Header{
    
    display: flex;          /*turn header into a flex container, to get navigation next to each other*/
    justify-content: space-between;         /*h1 and nav on the same level. Adds space between them*/
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 192px;
}


.Navigation{
    text-align: right;
    padding-right: 192px;
}


.Navigation a{
    color: #F9FAF8;
    text-decoration: none;
}


.Hero{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    padding-left: 192px;
    padding-bottom: 64px;
}


.Hero-text{
    display: flex;
    flex-direction: column;         /*h2, p, and button gets stacked on top of each other*/
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


.Hero-image{
    padding-right: 160px;
}


.Hero-subheading{
   font-size: 18px;
   color: #E5E7EB;
   padding-bottom: 20px;
}


.Hero-button{
    background-color: #3882F6;
    color: #E5E7EB;
    height: 32px;
    width: 80px;
    border-radius: 8px;
    border-color: #3882F6;
}

/*.Menu{
    Color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}*/


.Menu-grid{
    display: grid;
    grid-template-columns: 1fr 1fr; /*two columns*/
    gap: 32px;
    margin-top: 32px;
}


.Menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px; 
}


.Americano-image{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
.Menu-heading{
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}


.Menu-subheading{
    color: #1F2937;
    font-size: 24px;
    text-align: center;
}


.Americano-text{
    display: flex;
    flex-direction: column;
    color: #1F2937;
    font-size: 32px;
    margin-left: 192px;
}


.Americano-subheading{
    color: #1F2937;
    font-size: 16px;
    box-sizing: border-box;
    padding: 128px;
    text-wrap: wrap;
}


.Americano-caption{
    color: #1F2937;
    font-size: 10px;
}


.Latte-text{
    color: #1F2937;
    font-size: 32px;
}


.Latte-subheading{
    color: #1F2937;
    font-size: 16px;
    box-sizing: border-box;
    padding: 128px;
    text-wrap: wrap;
}


.Latte-caption{
    color: #1F2937;
    font-size: 10px;
}


.Hot-text{
    color: #1F2937;
    font-size: 32px;
}


.Hot-subheading{
    color: #1F2937;
    font-size: 16px;
    box-sizing: border-box;
    padding: 128px;
    text-wrap: wrap;
}


.Hot-caption{
    color: #1F2937;
    font-size: 10px;
}


.Chai-text{
    color: #1F2937;
    font-size: 32px;
}


.Chai-subheading{
    color: #1F2937;
    font-size: 16px;
    box-sizing: border-box;
    padding: 128px;
    text-wrap: wrap;
}


.Chai-caption{
    color: #1F2937;
    font-size: 10px;
}


.Quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding: 150px;
}


.Action,
.Action-button{
    background-color: #3882F6;
    color: #F9FAF8;
}


.Action{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    padding: 64px;
    margin: 100px;
    margin-right: 192px;
    margin-left: 192px;
    border-radius: 8px;
}


.Action-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.Action-subheading{
    font-size: 20px;
}


.Action-button{
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    padding: 8px 24px;
}


.Footer{
    color:#E5E7EB;
    text-align: center;
    padding: 32px;
}
